#GDAL-3.3.1-cp39-cp39-win_amd64.whl
#Fiona-1.8.20-cp39-cp39-win_amd64.whl
dash
dash_core_components
pathlib
plotly
dash_html_components
datetime
geojson
folium
dash_bootstrap_components
geopandas
matplotlib
haversine
seaborn
numpy
pandas
scipy==1.4.1
tensorflow
scikit-learn
